.delete-container {
  width: 300px;
  height: 150px;
  border-radius: 5px;
  margin: auto;
  background-color: var(--color2);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  overflow: hidden;
}

.delete-container .close-btn {
  position: absolute;
  right: 0;
  padding: 0 0.3em;
  font-size: 1.5em;
  border: none;
  background-color: var(--color3);
  color: var(--color6);
  cursor: pointer;
  transition: all 0.3s ease;
}
.delete-container .close-btn:hover {
  background-color: var(--color6);
  color: var(--color1);
}

.delete-container h2 {
  margin-top: 1em;
  text-align: center;
  font-size: 1.3em;
}

.delete-container .delete-buttons {
  display: flex;
  justify-content: center;
  margin-top: 0.7em;
  gap: 0.7em;
}

.delete-buttons button {
  padding: 0.3em;
  width: 50px;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 1px 2px 1px var(--color3);
  color: var(--color1);
  font-size: 1.05em;
  cursor: pointer;
  transition: all 0.3s ease;
}
.delete-buttons button:hover {
  transform: translateY(-3px);
}

.delete-buttons .yes-btn {
  background-color: var(--color6);
}
.delete-buttons .no-btn {
  background-color: var(--color4);
}
