.entries-container {
  min-height: 100vh;
  background-color: var(--color1);
}

.entries-intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.5em 1em;
  margin: auto;
  background-color: var(--color6);
  color: var(--color1);
}

.entries-searchBtn {
  cursor: pointer;
  border: none;
  background-color: var(--color4);
  color: var(--color1);
  padding: 0.5em 0.8em;
  border-radius: 5px;
  font-weight: bold;
  border-bottom: 1px solid var(--color2);
  transition: transform 0.2s ease;
}
.entries-searchBtn:hover {
  transform: scale(1.05);
}

.entries-addition {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.entries-addition p {
  font-size: 1.2em;
  margin-right: 0.5em;
}
.entries-addBtn {
  padding: 0.4em 0.7em;
  background-color: var(--color5);
  border: none;
  border-radius: 50%;
  font-weight: bold;
  font-size: 1.5em;
  color: var(--color1);
  transition: transform 0.2s ease;
}

.entries-addBtn:hover {
  transform: scaleX(1.03);
}
