.entries-container {
  min-height: 100vh;
  background-color: var(--color1);
  padding-bottom: 2.5em;
}

.entries-intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.5em 1em;
  margin: auto;
  background-color: var(--color6);
  color: var(--color1);
}

.entries-searchBtn {
  cursor: pointer;
  border: none;
  background-color: var(--color4);
  color: var(--color1);
  padding: 0.5em 0.8em;
  border-radius: 5px;
  font-weight: bold;
  border-bottom: 1px solid var(--color2);
  transition: transform 0.2s ease;
}
.entries-searchBtn:hover {
  transform: scale(1.05);
}

.entries-addition {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.entries-addition p {
  font-size: 1.2em;
  margin-right: 0.5em;
}
.entries-addBtn {
  padding: 0.12em 0.4em;
  background-color: var(--color4);
  border: none;
  border-radius: 50%;
  font-weight: bold;
  font-size: 1.5em;
  color: var(--color1);
  transition: background-color 0.4s ease;
  cursor: pointer;
}

.entries-addBtn:hover {
  background-color: var(--color5);
}

.entry-container {
  width: 500px;
  margin: auto;
}
.entry-container h2 {
  text-align: center;
}

.entry {
  background-color: #fff;
  margin: 0.8em;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 2px 2px 1px var(--color2);
  padding-left: 0.5em;
}
.entry-row1 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 500px;
  position: relative;
  padding-top: 0.3em;
}
.entry-row1 h3 {
  margin-right: 1em;
  color: var(--color3);
}
.entry-row1 h4 {
  margin-right: 1em;
  font-size: 0.8em;
  font-weight: lighter;
  position: relative;
  right: 5em;
}
.entry-row1 h4 span {
  font-weight: bold;
}

.entry-row1 .priority {
  padding: 0.1em 0.1em;
  background-color: var(--color4);
  color: var(--color1);
  font-weight: bold;
  width: 74px;
  text-align: left;
  position: absolute;
  top: 0;
  right: 25px;
}

.entry-row2 {
  display: flex;
  justify-content: space-between;
  padding: 0.5em 1em 0.5em;
}

.entry-row2 p {
  margin-left: -0.5em;
}

.entry-row2 button {
  padding: 0.3em 0.3em;
  width: 50px;
  text-align: center;
  color: var(--color1);
  border: none;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 1px 1px 4px 1px var(--color2);
  transition: transform 0.3s ease;
}
.entry-row2 button:hover {
  transform: scale(1.1);
}

.entry-updateBtn {
  background-color: var(--color5);
  margin-right: 0.5em;
}
.entry-deleteBtn {
  background-color: var(--color6);
}

.entry-location {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 2em 0 1em;
}

.entry-location p {
  font-size: 1.1em;
}
.entry-location button {
  padding: 0.5em 0.5em;
  text-align: center;
  color: var(--color1);
  font-weight: bold;
  background-color: var(--color4);
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-left: 0.3em;
  box-shadow: 0px 2px 2px 1px var(--color2);
  transition: transform 0.3s ease;
}

.entry-location button:hover {
  transform: translateY(-1px);
}
