footer {
  width: 100%;
  background-color: var(--color2);
  text-align: center;
  position: absolute;
  bottom: 0;
  height: 2.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer p {
  color: var(--color3);
  font-size: 1.15em;
}

footer span {
  color: var(--color6);
}

footer a {
  text-decoration: none;
  color: var(--color5);
}
